<!--PORTADA-->
<div class="bg-image" mdbRipple>
    <img src="Portada 1.png" class="w-100 image" />
    <div class="mask">
        <div class="d-flex text-center justify-content-center align-items-center h-100">
            <div class="d-block">
                <h1 class="h1 text-center text-light" style="font-size: 50px; font-weight: bold;">Bienvenido a Sitestudio</h1>
                <p class="p fs-4 text-center text-light">Tu mejor aliado para el sitio web de tu negocio</p>
            </div>
        </div>
    </div>
</div>

<!--LOGO-->
<div class="p-3 text-center w-100">
    <img src="Sitestudio_Web_logo.png" class="image h-25" alt="El logo de Sitestudio Web">
</div>

<!--QUE ES SITESTUDIO WEB?-->
<div class="bg-primary bg-opacity-10 container-fluid d-block justify-content-center">
    <div class="text-center">
        <h3 class="h3 color-titulo">¿Qué es Sitestudio Web?</h3>
        <p class="p p-2 fs-6 text-dark text-wrap">Sitestudio Web es una compañía especializada en la creación, modificación y mantenimiento de sitios 
        web. También se encarga de la compra y gestion de los dominios y le ofrece a nuestros clientes unos sitios web 
        con un estilo agradable para la vista de los usuarios que los visitan.</p>
    </div>
</div>

<!--DISEÑOS-->
<div class="p-3 grid container text-center">
    <h3 class="h3 text-center color-titulo">Diseños Adaptables a cualquier pantalla</h3>
    <div class="row row-cols-1 row-cols-lg-2 align-items-center">
        <div class="col">
            <img src="file.jpg" class="w-100" alt="dispositivos">
        </div>
        <div class="col">
            <p class="fs-3 text-center text-dark text-wrap">No importa desde que dispositivo lo veas tu sitio web se adapta muy bien a cualquier pantalla.</p>
        </div>
    </div>
</div>

<!--CONTACTOS-->
<div class="p-3 container-fluid bg-primary bg-opacity-10 text-center">
    <h3 class="h3 color-titulo">Contactenos</h3>
    <p class="fs-6 text-dark text-wrap">Para más información haga click en el botón para contactarnos</p>
    <a class="btn text-capitalize" routerLink="/contacto">Contactenos</a>
</div>