<div class="bg-image" mdbRipple>
    <img src="Portada 2.png" class="w-100" />
    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.5)">
        <div class="d-flex text-center justify-content-center align-items-center h-100">
            <h1 class="h1 d-block text-light p-2" style="font-size: 60px; font-weight: bold;">Quienes somos?</h1>
        </div>    
    </div>
</div>

<div class="container justify-content-center">
    <p class="fs-5 text-dark text-wrap">En Sitestudio Web, somos un equipo de profesionales apasionados por el diseño y desarrollo de soluciones 
        digitales únicas. Nos especializamos en crear sitios web personalizados que no solo tienen un diseño atractivo, 
        sino que también están optimizados para brindar una experiencia de usuario excepcional.</p>

    <p class="fs-5 text-dark text-wrap">Entendemos que cada cliente es único, por eso trabajamos de la mano con ellos para conocer sus necesidades 
        y objetivos específicos. Ya sea que busques una página web corporativa, un e-commerce o una plataforma interactiva, 
        nosotros nos encargamos de hacer realidad tu visión digital con la tecnología más avanzada.</p>

    <p class="fs-5 text-dark text-wrap">Nuestro compromiso es ayudar a nuestros clientes a destacar en un mundo cada vez más 
        digital, garantizando sitios web funcionales, rápidos y fáciles de usar. En Sitestudio Web, nos enorgullece 
        ofrecer soluciones que no solo cumplen con las expectativas, sino que las superan. ¡Tu éxito es nuestro objetivo!</p>

    <h2 class="text-wrap">Qué servicios ofrecemos?</h2>
    <ul class="fs-5 text-dark">
        <li>Creación, Gestión y Mantenimiento de paginas web.</li>
        <li>Diseño agradable a la vista del usuario y ajustable a cualquier pantalla.</li>
        <li>Compra de dominios personalizados.</li>
    </ul>
</div>



<div class="p-2 container-fluid bg-primary bg-opacity-10 margin-top grid justify-content-center">
    <h2 class="h2 text-center">Nuestra filosofia</h2>
    <div class="row row-cols-1 row-cols-lg-3 g-4 align-items-center">
        <div class="col">
            <div class="card text-center border-primary mb-3">
                <div class="card-body">
                    <h3 class="card-title text-primary">Misión</h3>
                    <p class="text-dark card-text">Ofrecer a nuestros clientes unos sitios web con un diseño agradable y a 
                        la vez, adaptable a sus necesidades.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center border-primary mb-3">
                <div class="card-body">
                    <h3 class="card-title text-primary">Visión</h3>
                    <p class="text-dark card-text">Ser una de las empresas lideres de República Dominicana y del mundo en 
                        cuanto a la creación, diseño, gestión y mantenimiento de los sitios web para los negocios de nuestros 
                        clientes.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center border-primary mb-3">
                <div class="card-body">
                    <h3 class="card-title text-primary">Valores</h3>
                    <ul class="text-dark card-text list-unstyled">
                        <li>Responsabilidad</li>
                        <li>Honestidad</li>
                        <li>Eficiencia</li>
                        <li>Flexibilidad</li>
                        <li>Puntualidad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>