img {
    background-image: url("../../../../public/Portada\ 2.png");
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {
    img {
        height: 600px;
    }
}

.card {
    height: 200px;
    border: 2px solid;
}

h2 {
    color: blue;
}