<div class="bg-image" mdbRipple>
    <img src="Portada 2.png" class="w-100" />
    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.5)">
        <div class="d-flex text-center justify-content-center align-items-center h-100">
            <h1 class="h1 d-block text-light p-2" style="font-size: 60px; font-weight: bold;">Nuestros planes</h1>
        </div>    
    </div>
</div>

<!--PLANES-->
<div class="container grid justify-content-center">
    <h2 class="p-2 h2 text-center">Conozca los planes que tenemos para ofrecer</h2>
    <div class="p-2 row row-cols-1 row-cols-lg-2 g-4">
        <div class="col">
            <div class="card text-center border-primary mb-3">
                <div class="card-header fs-5 text-bg-primary">
                    Invidual
                </div>
                <div class="card-body bg-primary bg-opacity-10">
                    <h4 class="card-title text-primary">USD $24.99 al mes</h4>
                    <h5 class="card-subtitle text-secondary mb-2">Inscripción USD $39.99</h5>
                    <ul class="card-text text-dark list-unstyled">
                        <li>Diseño Adaptable a diferentes dispositivos</li>
                        <li>Máximo 4 páginas</li>
                        <li>Formulario Contacto</li>
                        <li>Hosting y Dominio</li>
                        <li>1 año de garantia para su funcionamiento</li>
                        <li>Integracion de mapas de Google</li>
                        <li>Creación de cuentas de correo</li>
                    </ul>
                    <a class="btn btn-primary text-capitalize" routerLink="/contacto">Cotizar Plan</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center border-warning mb-3">
                <div class="card-header fs-5 text-bg-warning">
                    Para empresas
                </div>
                <div class="card-body bg-warning bg-opacity-10">
                    <h4 class="card-title text-warning">USD $44.99 al mes</h4>
                    <h5 class="card-subtitle text-secondary mb-2">Inscripción USD $64.99</h5>
                    <ul class="card-text text-dark list-unstyled">
                        <li>Diseño Adaptable a diferentes dispositivos</li>
                        <li>Máximo 10 páginas</li>
                        <li>Hasta 4 formularios</li>
                        <li>Hosting y Dominio</li>
                        <li>1 año de garantia para su funcionamiento</li>
                        <li>Integracion de mapas de Google</li>
                        <li>Creación de cuentas de correo</li>
                        <li>Soporte durante 6 meses</li>
                        <li>Botón para Whatsapp</li>
                    </ul>
                    <a class="btn btn-warning text-capitalize" routerLink="/contacto">Cotizar Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>